NEON_EMAIL=
NEON_PASSWORD=
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
SECRET_KEY=
APP_PASSWORD=
AUDITIONS_DB_URI=mysql+pymysql://user:password@host/theatre_auditions
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=Theatre Aurora <noreply@theatreaurora.com>
