{% extends "shared/base.html" %}

{% block title %}Proxy Voting{% endblock %}

{% block brand_url %}{{ url_for('proxy.index') }}{% endblock %}

{% block nav_items %}
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('proxy.index') }}">Meetings</a>
        </li>
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Admin</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('proxy.admin_dashboard') }}"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
                <li><a class="dropdown-item" href="{{ url_for('proxy.members_list') }}"><i class="bi bi-people"></i> Members</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('proxy.my_proxies') }}">
                <i class="bi bi-card-checklist"></i> My Proxies
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> {{ current_user.first_name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item text-danger" href="{{ url_for('auditions.logout') }}"><i class="bi bi-box-arrow-right"></i> Log Out</a></li>
            </ul>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
