{# The statements a signer agrees to (the "Respectful Space Confirmation"). #}
<ul class="mb-0">
    <li>I have received and read a copy of Theatre Aurora’s Respectful Space Policy.</li>
    <li>I have been given the opportunity to ask any questions and obtain any clarification that I need as it pertains to this Policy.</li>
    <li>I understand it is the responsibility of all persons to act in accordance with this Policy and to support an atmosphere of understanding and respect for the dignity and rights of each individual.</li>
    <li>I understand that harassment, discrimination, and violence will not be tolerated, regardless of the source.</li>
    <li>I understand that all persons have the obligation to uphold this Policy and report incidents to the Theatre Aurora’s Board of Directors (as outlined in the Policy) within a reasonable timeframe.</li>
    <li>I understand that should a violation of this Policy come to the attention of the Theatre Aurora’s Board of Directors, they will confidentially investigate the incident and will take action, as required.</li>
</ul>
